@font-face
{
  font-family: Dense;
  src: url("fonts/Dense-Regular.otf");
}
@font-face 
{
  font-family: Avenir_Book;
  src: url("fonts/Avenir Book.ttf");
}
@font-face 
{
  font-family:Avenir_light;
  src: url("fonts/avenirltstd-light.otf");
}
.alignment
{
    text-align: center;
}
.imgsize
{
    width: 15%;
}

.page
{
    text-align: center;
    background-color: #1f1742;

}
.size
{
    width:100%;
}
.fontsize
{
    color: white;
    font-size: 65px;
    font-family: Dense;
    padding-bottom: 10px;
    word-spacing: 5px;
    margin-top: 50px;
}
.color
{
    border-top: 1px solid #fab225;
    width: 90%;
    margin-top: -1%;
}
.MG
{
    margin-top: 20px;
}
.BT
{
    border-radius: 40px;
    width: 50%;
    border: none;
    font-family: Avenir_book;
    color: black;
    height: 25px;
    float: right;
}
.FD
{
    color: white;
    text-align: left;
    font-size: 20px;
    font-family: Avenir_book;
}