.divide
{
    width:50%;
}
.display
{
    display: -webkit-box;
}
.bcolor
{
    background-color: red;
    text-align: center;
   
}
.color
{
   
    font-size: 100px;
    font-family: fantasy;
}
leftdiv.imagedecoration
{
 
}